<div>
    <div class="header black">
        <div class="title"><%= title %></div>
        <%= searchbox %>
    </div>
    <div class="content">
        <div class="contentWrapper">
            <%= setting %>
            <%= result %>
            <%= loadMore %>
        </div>
    </div>
</div>
