<div class="content">
    <div class="result">
        <img src=<%= image %>> 
        <ul>
            <li><%= title %></li>
            <li><%= author %></li>
            <li><%= publisher %></li>
            <li><%= price %></li>
        </ul>
    </div>
</div>