<div class="results-wrapper results-wrapper-list">
    <div class="summary">'<%= keyword %>' 의 검색결과는 <%= bookdata.total %>건입니다.</div>

    <% for(let i = 0; i < bookInfo.length; i++) { %>

    <% const image = bookInfo[i].image %>
    <% const title = bookInfo[i].title.replace(/[<b>|</b>]/g, '') %>
    <% const author = bookInfo[i].author.replace(/[|]/g, ', ') %>
    <% const publisher = bookInfo[i].publisher %>
    <% const year = bookInfo[i].pubdate.slice(0, 4) %>
    <% const month = Number(bookInfo[i].pubdate.slice(4, 6)) %>
    <% const date = Number(bookInfo[i].pubdate.slice(6, 8)) %>
    <% const description = bookInfo[i].description.replace(/[<b>|</b>]/g, '').substr(0, 50) %>

    <div class="result result-list" >
        <div class="result-inner-wrapper-list" gorilla-click="MoveToNaverBook">
            <img src=<%= image %>>
            <div class="info">
                <ul>
                    <li><%= title %></li>
                    <li><%= author %></li>
                    <li><%= publisher %></li>
                    <li><%= year + '년 ' + month + '월 '+ date + '일' %></li>
                    <li><%= description %>...</li>
                </ul>
            </div>
            <div>
                <a href="<%= bookInfo[i].link %>" class="naver-link" target="_blank" title="네이버 책으로 이동">구매하기</a>
            </div>
        </div>
    </div>
    <% } %>

    <div class="no-more-alert invisible">검색결과가 더 이상 없습니다.</div>
    <%= arrow %>
</div>
